body { background: #6C2B33 url(red.jpg) no-repeat top center fixed; }

h2 small,
.detail,
.button a:hover {
	color:#EFA4B0;
}

/* lines for ie6 */

.ie6 h2,
.ie6 #sidebar li {
	background: url(border2-white.jpg) no-repeat 0px 12px;
}

.ie6 #name {
	background: url(horizontal-white.gif) no-repeat center bottom;
}

.ie6 .sub {
	background: url(border-white.jpg) repeat-y 15px 0px;
}

.ie6 .detail {
	background: url(angle-white.gif) no-repeat;
}

.ie6 #sidebar ul {
	background:url(border-white.jpg) repeat-y scroll 10px 0 transparent;
}

.ie6 #details_wrap  {
	border-top:1px solid #f4f4f4;
}